*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 20px;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  max-width: 80%;
  width: 800px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  background-color: white;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-block: 20px;
}

.btn {
  --hue: var(--hue-neutral);
  padding: 5px 10px;
  border: 1px solid hsl(var(--hue), 100%, 30%);
  border-radius: 5px;
  background-color: hsl(var(--hue), 100%, 50%);
  color: white;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  padding: 10px 20pxs;
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hide {
  display: none;
}
